{% extends "base.html" %}

{% block title %}
صفحه اصلی
{% endblock %}

{% block content %}

    <img style="width: 100px; height: 100px;" src="/static/cover/{{ product.id }}.jpg">
    <form action="{{ url_for('admin.edit_product', id=product.id) }}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label>cover:</label><input type="file" name="cover"><br>
        <input type="text" name="name" value="{{ product.name }}" placeholder="نام محصول"><br>
        <input type="text" name="description" value="{{ product.description }}" placeholder="توضیحات"><br>
        <input type="number" name="price" value="{{ product.price }}" placeholder="قیمت"><br>
        <label>فعال:</label><input type="checkbox" value="1" name="active" {% if product.active == 1 %}checked{% endif %}>
        <input type="submit">

    </form>
    
{% endblock %}