{% extends "base.html" %}

{% block title %}
صفحه اصلی
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_panel.css') }}">

    <section class="admin_login_parent">

        <h2>ورود به پنل مدیریت</h2><br>

        <form class="admin_login" action="{{ url_for('admin.login') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="text" name="username" placeholder="نام کاربری">
            <input type="password" name="password" placeholder="رمز عبور">
            <input type="submit" value="ارسال">
        </form>

    </section>
{% endblock %}