<header class="header_text">

    <div class="online_and_search_parent">
        <div id="mainPhoto">
            <a href="{{ url_for('general.main') }}">
                <img
                    id="sliderImage"
                    class="header_img_online_store"
                    src="{{ url_for('static', filename='image/banner.png') }}"
                    alt="online_store">
            </a>
        </div>
        
        <div class="line_3_img">
            <img src="{{ url_for('static', filename= 'item/3_line.png') }}" alt="">
            <span>دسته بندی ها</span>
        </div>
        

        <form action="/" method="GET">
            <input class="search_cadr" type="search" name="search" value="{{ search if value != None }}" placeholder="جستجو...">
        </form>
    </div>

    <section class="search_a_parent">
        <span class="close_menu">X</span>
        {% if request.endpoint.startswith("admin") %}
            <a style="float: left;" href="{{ url_for('admin.login') }}">پنل مدیریت</a>
            <a style="float: left;" href="{{ url_for('admin.product') }}">صفحه محصولات</a>
            <a style="float: left;" href="{{ url_for('admin.logout') }}">خروج از حساب</a>
        {% else %}
        <div class="search_a_parent_this_is">
            <a href="{{ url_for('general.main') }}">خانه</a>
            {% if current_user.is_authenticated %}
                <a style="float: left;" href="{{ url_for('user.login') }}">پنل کاربری</a>
                {% else %}
                <a style="float: left;" href="{{ url_for('user.login') }}">ورود/ثبت نام</a>
            {% endif %}
            
            <a href="{{ url_for('user.logout') }}">خروج از حساب</a>
            <a href="{{ url_for('general.about') }}">درباره ما</a>
        {% endif %}
        </div>
    </section>
</header>

<script>
    const open_click = document.querySelector(".line_3_img")
    const menu = document.querySelector(".search_a_parent")
    const close_menu = document.querySelector(".close_menu")


    open_click.addEventListener('click', ()=>{
        menu.style.right = "0px"
    })

    close_menu.addEventListener("click", ()=>{
        menu.style.right = "-100%"
    })

</script>



<script>
    var images = [
        "{{ url_for('static', filename='image/banner.png') }}",
        "{{ url_for('static', filename='image/banner2.png') }}",
        "{{ url_for('static', filename='image/banner3.png') }}"
    ];

    var index = 1
    var slider = document.getElementById("sliderImage")

    function change() {

        slider.style.opacity = 0

        setTimeout(function(){

            slider.src = images[index]
            slider.style.opacity = 1
        if (index === images.length - 1){
            index = 0;
        } else{
            index++;
        }

        },600)   
      
    }
    setInterval(change, 3000)
</script>