<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <title>
        {% block title %}فروشگاه اینترنتی پینکرتون{% endblock %}
    </title>

    {% block styles %}
    {% endblock %}
</head>
<body>

    <header class="header_base">
        <h1>فروشگاه اینترنتی پینکرتون</h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p></p>
    </footer>

    {% block scripts %}
    {% endblock %}
</body>
</html>