<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        <h1></h1>
        {% endblock %}
    </title>

    {% block styles %}
   
    {% endblock %}
</head>
<body>

    <header>
        <h1>this is header</h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p></p>
    </footer>

    {# جا برای اسکریپت‌ها #}
    {% block scripts %}
    
    {% endblock %}
</body>
</html>
