{% extends "base.html" %}

{% block title %}
<title>فروشگاه اینترنتی پینکرتون</title>
{% endblock %}

{% block content %}
    <section class="top_parent_header">
        {% include 'part/header.html' %}
    </section>



<div class="product_box_parent">
    {% for p in product %}
        {% include 'part/product.html' %}
    {% endfor %}
</div>

<a style="float: left;" href="{{ url_for('admin.login') }}">admin login</a><br><br>
<a style="float: left;" href="{{ url_for('admin.product') }}">add product</a><br><br>





{% endblock %}