{% extends "base.html" %}

{% block title %}
<title>فروشگاه اینترنتی پینکرتون</title>
{% endblock %}

{% block content %}

    {% include 'part/header.html' %}



<div class="product_box_parent">
    {% for p in product %}
        {% include 'part/product.html' %}
    {% endfor %}
</div>

<a style="float: left;" href="{{ url_for('admin.login') }}">admin login</a><br><br>
<a style="float: left;" href="{{ url_for('admin.product') }}">add product</a><br><br>
<a style="float: left;" href="{{ url_for('user.login') }}">user login</a>
<a href="{{ url_for('user.logout') }}">خروج از حساب</a><br><br>




{% endblock %}