<!-- templates/user/register.html -->
{% extends "base.html" %}

{% block title %}
ثبت نام
{% endblock %}

{% block content %}

<h2>ثبت نام</h2>
<form action="{{ url_for('user.register') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="text" name="username" placeholder="نام کاربری"><br>
    <input type="password" name="password" placeholder="رمز عبور"><br>
    <input type="text" name="phone" placeholder="تلفن"><br>
    <textarea name="address" placeholder="آدرس"></textarea><br>
    <input type="submit" value="ثبت نام">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</form>


<h2>ورود</h2>
<form action="{{ url_for('user.login') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="text" name="username" placeholder="نام کاربری"><br>
    <input type="password" name="password" placeholder="رمز عبور"><br>
    <input type="submit" value="ورود">
</form>
{% endblock %}