{% extends "base.html" %}

{% block title %}
   <title>صفحه محصولات</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/order_user.css') }}">

<div class="order-container">

    <h1>سفارش شماره{{ cart.id }} - <span>{{ cart.get_status_persian() }}</span></h1>
    <table class="cart_parent">
        <tr>
            <th>شماره محصول</th>
            <th>نام محصول</th>
            <th>قیمت</th>
            <th>تعداد</th>
        </tr>
        {% for item in cart.cart_items %}
        <tr>
            <td>{{ item.product.id }}</td>
            <td>{{ item.product.name }}</td>
            <td class="price">{{ "{:,}".format(item.product.price|int) }} تومان</td>
            <td>{{ item.quantity }}</td>
        </tr>
        {% endfor %}

        <table class="cart_payment">
            <tr>
                <th>وضعیت</th>
                <th>مبلغ</th>
                <th>شماره پیگیری</th>
                <th>شماره تراکنش</th>
                <th>شماره کارت</th>
            </tr>
            {% for pay in cart.payments %}
                <tr>
                    <td>{{ pay.get_status_persian() }}</td>
                    <td>{{ "{:,}".format(pay.price|int) }} تومان</td>
                    <td>{{ pay.refid }}</td>
                    <td>{{ pay.transation_id }}</td>
                    <td>{{ pay.card_pan }}</td>
                </tr>
            {% endfor %}
        </table>

    </table>
   
</div>



{% endblock %}